/* style.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ajusta el índice z para asegurarte de que esté por encima de otros elementos */
  background-color: #333; /* Ajusta el color de fondo según sea necesario */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
}

.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%; /* Ajusta el ancho del contenedor del banner */
  height: 390px; /* Ajusta la altura del contenedor del banner */
}

.subtext {
  font-size: 30px; /* Ajusta el tamaño según sea necesario */
  color: white; /* Mismo color que el texto principal */
  text-align: center; /* Centra el texto */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px; /* Agregamos bordes redondeados */
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #353535;
  font-size: 3em;
  text-align: center;
  z-index: 1; /* Asegura que el texto esté encima de las imágenes */
  text-shadow: 2px 2px 4px rgba(124, 251, 255, 0.416);

  padding: 10px; /* Agrega relleno alrededor del texto */
  border-radius: 10px; /* Agrega bordes redondeados */
  background-color: rgba(
    255,
    255,
    255,
    0.527
  ); /* Color de fondo con transparencia */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Crea un efecto de sombreado */
}

.text-container {
  padding: 20px; /* Añade un espacio alrededor del texto */
}

.text-container-banner {
  padding: 20px; /* Añade un espacio alrededor del texto */
  top: 40%; /* Cambia este valor para ajustar la posición vertical */
  left: 50%;
  transform: translate(0%, 330%);
  text-align: center;
}

.textoprincipal {
  font-size: 66%;
  line-height: 1.5;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
  font-weight: inherit;
  text-align: justify;
}

.text-large:hover {
  color: #007bff;
}

.benefits-container {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
}

.benefits-container h2 {
  font-size: 28px; /* Aumenta el tamaño de la fuente */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega un efecto de sombra */
}

.benefits-container ul {
  list-style-type: none;
  padding: 0;
}

.benefits-container li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px; /* Aumenta el espacio a la izquierda de los puntos */
  font-size: 18px; /* Aumenta el tamaño de la fuente de los elementos de la lista */
}

.benefits-container li::before {
  content: "\2022"; /* Utiliza el carácter Unicode para el símbolo de viñeta */
  position: absolute;
  left: 0;
  color: #007bff; /* Cambia el color de la viñeta */
}

.social-links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon {
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #333;
  padding: 15px; /* Aumenta el espacio alrededor del ícono */
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  font-size: 24px; /* Ajusta el tamaño del ícono */
}

.social-icon:hover {
  background-color: #555;
}

.whatsapp {
  background-color: #25d366;
}

.facebook {
  background-color: #3b5998;
}

.instagram {
  background-color: #c13584;
}

.dot-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot,
.dot:hover {
  background-color: #717171;
}

.tnosotros {
font-size: 140%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imagen-cursos {
  width: 90%; /* Se ajusta el tamaño de la imagen */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: auto; /* Se centra horizontalmente */
  display: block; /* Asegura que la imagen se comporte como un bloque */
}

.imagen-cursos2 {
  width: 45%; /* Se ajusta el tamaño de la imagen */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: auto; /* Se centra horizontalmente */
  display: block; /* Asegura que la imagen se comporte como un bloque */
}





/* Estilos para el botón de Más Información */
.course-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-details-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.more-info-btn {
  display: block;
  margin: 0 auto;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.whatsapp-btn {
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

  .custom-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-row::-webkit-scrollbar {
    display: none;
  }

  .custom-col {
    flex: 0 0 auto;
    width: auto;
    margin-right: 15px; /* Ajusta el margen entre las columnas */
  }

  .custom-col:last-child {
    margin-right: 0;
  }
  .banner-text {
    font-size: 35px; /* Ajusta el tamaño del texto según sea necesario */
  }

  .more-info-btn-sm {
    font-size: 14px;
    padding: 8px 16px;
    background-color: #25d366;
  }

  .subtitle {
    font-size: 18px; /* Ajusta el tamaño del texto según sea necesario */
  }
}

.navbar-logo {
  width: 70px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 5px;
}

.titulobarra{
  color:rgb(223, 223, 223);
  font-size: 120%;
  font-style: italic;
  font-family: sans-serif, Arial, Helvetica;
  text-shadow: 2px 2px 4px rgba(188, 188, 188, 0.925);
}

.paraid{
  color:#d1e7ff;
}

.titulorenta{
  font-size: 130%;
}

.botonrentas {
  font-size: 13px; 
  padding: 9px 13px; 
}