body {
  background-color: #add8e6;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333; 
  font-family: Arial, sans-serif; 
}

.navbar-nav .nav-link {
  text-decoration: none; /* Elimina la decoración de subrayado */
}

.nav-link-big {
  font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
}

.nav-link-big:hover {
  font-size: 22px; /* Ajusta el tamaño del texto al pasar el cursor */
}


.navbar-logo {
  width: 70px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}


.content {
  padding: 50px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


a {
  color: #007bff; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
